@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background-image: url('../components/background.avif');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: white;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.hover-bold:hover {
  font-weight: bold;
}

.content-container {
  background-color: rgba(5, 5, 5, 0.8);
  padding: 20px;
  width: 50vw;
  height: auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-y: auto;
}

@media (max-width: 1040px) {
  .max-w-prose {
    max-width: 60ch;
  }
}
